:root {
  --dark: #15202b;
  --dark-mid: #192734;
  --dark-low: #22303c;
}

.layout {
  background-color: var(--dark-low);
}
.login {
  background-color: var(--dark-mid);
}
.header {
  background-color: var(--dark);
}
